<div id="{{ object.data.uniqueid }}" class="h-full c-image-nestable {{ object.get_spacing_top_class_string }}">

    {{get_attachment_image(object.data.image, 'c9-desktop', 'block object-cover h-full w-auto')}}

</div>