.c-heading{
    &.bottom{
        .o-container{
            display: flex;
            flex-direction: column-reverse;
        }
    }
    &__topline, &__bottomline{
        font-size: 0.813rem;
    }
}