.c-icon {
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    @apply w-6 h-6;
    &-component{
        width: 4.375rem;
        height: 4.375rem;
        svg{
            max-width: 1.75rem;
        }
    }
}


