.c-testimonial{
    &-text{
        line-height: 1.56;
        svg{
            width: 4.375rem;
            top: -20px;
            left: 0;
            height: 3.188rem;
        }
    }
    &-position{
        max-width: 22rem;
    }
    &-name, &-position{
        font-size: 0.813rem;
        line-height: 1.54;
    }
}