<footer class="w-full mt-auto">
    <div class="mt-8">
        <div class="text-sm text-white bg-gray-700">
            <div class="o-container">
                <div class="flex-wrap py-2 leading-relaxed md:flex md:space-x-4 lg:px-8">
                    <p class="font-bold">
                        Musterfirma GmbH
                    </p>
                    <p class="mt-2 md:mt-0" >
                        Beispielweg 15
                    </p>
                    <p>
                        76543 St. Beispielort
                    </p>

                    <p class="my-5 -ml-5 md:m-0">
                        <a class="p-5 hover:underline md:p-0" href="tel:+491234567890">+49 123 456789-0</a>
                    </p>
                    <p class="my-5 -ml-5 md:m-0">
                        <a class="p-5 hover:underline md:p-0" href="mailto:info@musterfirma.de">info@musterfirma.de</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="text-sm text-white bg-gray-800">
            <div class="o-container o-container--lg">
                <nav>
                    <ul class="flex justify-start -mx-4 md:justify-end md:mr-2">
                        {% for item in menus.footer.items %}
                            <li class="{{ item.classes|join(' ') }}">
                                <a class="inline-block p-3 hover:underline focus:underline" href="{{ item.link }}">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
