{% extends "templates/base.twig" %}



{% block site_header %}
    {% include 'templates/partials/site-header.twig' %}
{% endblock %}

{% block breadcrumb %}
    <div class="mt-6 o-container">
        {% include 'templates/partials/breadcrumb.twig' %}
    </div>
{% endblock %}

{% block content_before_breadcrumbs %}
    <div class="">
        {{ render_slot(post.ID, 'main_bb') }}
    </div>
{% endblock %}

{% block content %}
    <div>
        {{ render_slot(post.ID, 'main') }}
    </div>
{% endblock %}
