/* Root element, body and other gloabl basic styles */

body {
    @apply box-border font-sans leading-normal overflow-x-hidden text-gray-800;
    font-family: Inter;
}

:root {
    --prime: #5996c3;
    --prime-off: #437192;
}

$red: #CA0813;