/* Global styling applied to all form elements */

fieldset[disabled] {
    cursor: not-allowed;
    opacity: .5;

    > * {
        pointer-events: none;
    }
}

.form-input, .form-textarea {
    &:focus {
        @apply ring-prime border-prime focus:ring focus:ring-offset-0 focus:ring-prime-200 focus:ring-opacity-50;
    }
}

.form-checkbox, .form-radio {
    @apply text-prime focus:border-prime focus:ring focus:ring-offset-0 focus:ring-prime-200 focus:ring-opacity-50;
}