/* stylelint-disable value-list-comma-newline-after, value-list-comma-space-after, indentation */

/*
 * Examplary @font-face defintions
 */

/*
@font-face {
    font-family: 'iA Writer Duospace';
    src:  url('../fonts/iAWriterDuospace-Regular.woff2') format('woff2'),
          url('../fonts/iAWriterDuospace-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
*/
